
<div class="basic-pop-up">
	<%= image_tag 'broadcast_icon.png', class: 'page-icon' %>
	<h1>A new announcement</h1>
	<%= form_for([@group, @announcement],  :html => { class: 'pure-form center-it'}) do |f| %>
		<%= f.text_area :content, :class => 'annc' %> <br /><br />
		<div><%= f.submit 'Push', :class => 'pure-button pure-button-secondary center-it' %></div>
	<% end %>
</div>